{
  "CN": "etcd",
  "hosts": [
  {% for ip in (groups['k8s_etcd'] | map('extract', hostvars, ['ansible_host']) | list) %}
  "{{ ip }}",
  {% endfor %}
  "localhost",
    "127.0.0.1"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "FR",
      "L": "France",
      "O": "Leyton",
      "OU": "etcd",
      "ST": "Paris"
    }
  ]
}