---
# tasks file for haproxy-keepalived-role
- name: Install HAproxy and Keepalived
  become: true
  shell: sudo apt install keepalived haproxy psmisc -y


- name: Copy HAproxy check script
  become: true
  copy:
    src: check_apiserver.sh
    dest: /etc/keepalived/check_apiserver.sh
    owner: me
    group: me
    mode: u=rx,g=r,o=r
    backup: yes

- name: Copy HAproxy configuration file script
  template: 
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg

- name: Copy Keepalived configuration file script
  template: 
    src: keepalived.cfg.j2
    dest: /etc/keepalived/keepalived.cfg

- name: Restart and enable HAproxy and Keepalived
  become: true
  shell: |
    sudo systemctl restart haproxy
    sudo systemctl enable haproxy
    sudo systemctl restart keepalived
    sudo systemctl enable keepalived
